.card-hover:hover {
  transform: scale(1.01);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  #root {
    color: #ffffff;
  }
}
@media (prefers-color-scheme: light) {
  #root {
    color: #333333;
  }
}